.contact {

    background-color: $sage1;

    form {
        input {
            border-style: none;
            background-color: #F8F5EC;
            border-radius: 5px;
            padding: 20px;


        }
    }

    .input-1 {
        padding-left: 700px;
    }



    button {
        border-style: none;
        padding: 20px;
    }
}