.contact {

    background-color: $sage2;

    form {
        input {
            border-style: none;
            background-color: #F8F5EC;
            border-radius: 5px;
            padding: 20px;


        }
    }

    .input-1 {
        padding-left: 0px;
        border-left: 800px;

    }



    button {
        border-style: none;
        padding: 20px;
    }
}

.contact-text {
    padding-left: 650px;
}