h3 {
    justify-content: center;
    text-align: center;
    background-image: url(deploy/images/Rectangle3.png);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}